:host {
  position: relative;
  display: block;

  .col-data a {
    color: var(--module-primary);
    font-weight: 500;
    cursor: pointer;
  }

  .row-details-content {
    min-width: 0;
  }

  .row-details-content .truncate {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  paper-card {
    display: block;
    margin-top: 25px;
    --paper-card_-_background-color: white;
    --paper-card_-_margin: 0 24px;
    --paper-card_-_width: calc(100% - 48px);
  }

  .no-content {
    padding: 16px 24px;
  }

  .show-completed-toggle {
    @apply --layout-horizontal;
    @apply --layout-center;
    border-left: 2px solid var(--gray-lighter);
    margin-left: 16px;
    margin-right: 16px;
    align-self: center;
    padding: 18px 0 18px 10px;
  }
  .show-completed-toggle span {
    padding: 0 12px;
    font-size: 16px;
  }

  .ellipse {
    max-height: 4.4em;
    overflow: hidden;
  }
}

pages-header-element { box-shadow: 1px -3px 9px 0 #000000; }

