.comments-list {
  padding: 8px 12px;
}

.comment-item {
  margin-bottom: 12px;
}

.comment-item:last-of-type {
  margin-bottom: 0;
}

.comment-item__user {
  font-size: 13px;
  margin-right: 5px;
  font-weight: bold;
}
.comment-item__date {
  font-size: 11px;
  color: var(--list-secondary-text-color, #757575);
}

etools-dialog {
  --etools-dialog-default-btn-bg: var(--module-primary);
}