:root,
:host {
  --sl-font-mono: Roboto, Noto, sans-serif;
  --sl-font-sans: Roboto, Noto, sans-serif;
  --sl-font-serif: Roboto, Noto, sans-serif;
  --primary-color: #0099ff;
  --primary-text-color: rgba(0, 0, 0, 0.87);
  --secondary-text-color: rgba(0, 0, 0, 0.54);
  --default-btn-bg-color: rgba(0, 0, 0, 0.45);
  --primary-background-color: #ffffff;
  --secondary-background-color: #eeeeee;
  --ternary-background-color: var(--paper-indigo-800);
  --accent-color: var(--paper-light-blue-a200);
  --error-color: #ea4022;
  --error-color-darker: #c1351d;
  --dark-primary-text-color: rgba(0, 0, 0, 0.87);
  --light-primary-text-color: rgba(255, 255, 255, 1);
  --dark-secondary-text-color: rgba(0, 0, 0, 0.54);
  --light-secondary-text-color: rgba(255, 255, 255, 1);
  --dark-disabled-text-color: rgba(0, 0, 0, 0.38);
  --light-disabled-text-color: rgba(255, 255, 255, 0.5);
  --dark-icon-color: rgba(0, 0, 0, 0.54);
  --light-icon-color: rgba(255, 255, 255, 1);
  --dark-disabled-icon-color: rgba(0, 0, 0, 0.38);
  --light-disabled-icon-color: rgba(255, 255, 255, 0.5);
  --dark-divider-color: rgba(0, 0, 0, 0.12);
  --light-divider-color: rgba(0, 0, 0, 0.12);
  --dark-hover-color: rgba(0, 0, 0, 0.01);
  --light-hover-color: rgba(255, 255, 255, 0.01);
  --dark-ink-color: rgba(0, 0, 0, 0.3);
  --light-ink-color: rgba(255, 255, 255, 0.30);
  --light-theme-background-color: var(--paper-grey-50);
  --light-theme-content-color: #FFFFFF;
  --dark-theme-background-color: #233944;
  --medium-primary-text-color: #9d9d9d;
  --content--panel-icon-color: #ffffff;

  --nonprod-header-color: #a94442;
  --nonprod-text-warn-color: #ffffff;
  --header-bg-color: var(--dark-theme-background-color);
  --partnership-management-color: var(--primary-background-color);
  --work-planning-color: var(--paper-light-green-500);
  --field-monitering-color: var(--paper-green-500);

  --title-toolbar-secondary-text-color : #C7CED2;
  --subtitle-background-color: #eeeeee;
  --toolbar-height: 60px;
  --side-bar-scrolling: visible;

  --primary-color-hover: #027ac9;
  --default-btn-bg-color: rgba(0, 0, 0, 0.45);
  --default-btn-bg-hover-color: rgba(0, 0, 0, 0.55);
  --ternary-color: #009a54;

  --sl-color-primary-600: var(--primary-color);
  --sl-color-primary-500: var(--primary-color-hover);
  --sl-color-success-600: var(--ternary-color);
  --sl-color-neutral-600: var(--default-btn-bg-color);
  --sl-color-neutral-500: var(--default-btn-bg-hover-color);
  --sl-color-danger-600: var(--error-color);
  --sl-color-danger-500: var(--error-color-darker);

  --esmm-external-wrapper: {
    width: 100%;
    margin: 0;
  };

  /* sl-tooltip styles */
  --sl-tooltip-background-color: rgba(97, 97, 97, 0.9);

  /* etools-dialog styles */
  --etools-dialog-primary-color: #ffffff;
  --etools-dialog-contrast-text-color: var(--primary-text-color);
  --epd-profile-dialog-border-b: solid 1px var(--dark-divider-color);

  /* global loading box content */
  --etools-loading-border-color: rgba(255, 255, 255, 0.12);
  --etools-loading-shadow-color: #333333;

  --required-star-style: {
    background: url('./assets/images/required.svg') no-repeat 99% 20%/8px;
    width: auto !important;
    max-width: 100%;
    right: auto;
    padding-inline-end: 15px;
  }
}

  html[dir="rtl"] {
    --required-star-style: {
      background: url('./assets/images/required.svg') no-repeat 0 20%/8px;
      right: auto;
      padding-inline-end: 15px;
    }
  }
