:host {
    position: relative;
    display: block;
    padding: 0 15px 0 72px;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.26);

    .heading-row-header {
        display: block;
        height: 56px;
        width: 100%;
        box-sizing: border-box;
        white-space: nowrap;
        font-size: 0; //skip gaps between inline-blocks

        .header-button {
            position: absolute;
            right: 0;
            top: 0;
            height: 56px;
            line-height: 56px;
        }

        .empty-icon-wrapper { width: 72px; }

        .local-headings {
            display: inline-block;
            box-sizing: border-box;
            padding-right: 10px;
            font-weight: 500;
            color: var(--gray-mid);
            overflow: hidden;
            height: 56px;
            line-height: 56px;
            white-space: normal;
            vertical-align: middle;

            &:hover {
                cursor: pointer;

                .heading { color: var(--gray-dark); }
                iron-icon.up-icon { display: inline-flex; }
            }
            &[ordered="asc"] iron-icon.up-icon {
                display: inline-flex;
                color: var(--gray-dark);
            }

            &[ordered="desc"] {
                .heading { color: var(--gray-dark); }

                iron-icon.down-icon {
                    display: inline-flex;
                    color: var(--gray-dark);
                }
                iron-icon.up-icon { display: none; }
            }

            &.no-order {
                cursor: auto;

                &:hover {
                    .heading { color: inherit; }
                }

                iron-icon.up-icon,
                iron-icon.down-icon {
                    display: none;
                }
            }

            &.right { text-align: right; }
            &.center { text-align: center; }

            .heading {
                display: inline-block;
                vertical-align: middle;
                line-height: normal;
                font-size: 12px;
            }

            iron-icon {
                display: none;
                width: 16px;
                height: 16px;
            }
        }
    }
}

:host([no-ordered]) {
    iron-icon {
        display: none !important;
    }

    .local-headings {
        &:hover {
            cursor: auto;

            .heading { color: inherit; }
        }
    }
}

:host([no-additional]) {
    padding: 0 14px 0 24px;
}