:host {
    display: block;
    margin-top: 0;
    --paper-dropdown-menu: #{'{ width: 50px; padding: 0 30px; }'};
    --paper-input-container-input: #{'{ font-size: 12px; color: var(--gray-mid); }'};
    --paper-input-container-underline: #{'{ display: none; }'};


}

.dropdown-content {
    background-color: white;
}

.chevron-container {
    width: 200px;
    margin: 0 0 0 30px;
}

paper-icon-button {
    cursor: pointer;

    &.single,
    &.back-arr.first,
    &.next-arr.last {
        color: var(--gray-light);
        cursor: default;
        --paper-icon-button-ink-color: rgba(0, 0, 0, 0);
    }
}

paper-icon-button.textsec {
    cursor: default;
}

.rightfloat {
    float: right;
    @apply(--list-pagination-styles);
}

.lh {
    line-height: 56px;
}

span.textsec.lh {
    font-size: 12px;
}

paper-dropdown-menu {
    color: var(--gray-mid);
    --paper-input-container-input: #{'{
                    font-size: 13px;
                    box-sizing: border-box;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding-left: 3px;
                    color: var(--gray-mid);
                    line-height: 24px;
                    height: 24px;
                }'};
    --paper-input-container-focus-color: var(--module-primary);
}

paper-item {
    --paper-item: #{'{
        height: 1px;
    }'};
}