:host {
    .arrow-up { display: none; }

    paper-menu-button {
        padding: 0;
        font-size: 16px;
    }

    paper-button {
        height: 60px;
        margin: 0;
        padding: 12px 12px 12px 12px;
        min-width: 50px;
        text-transform: none;
        font-weight: normal !important;

        .dropdown-text {
            margin-left: 5px;
            color: var(--light-secondary-text-color);
        }

        .arrow-down,
        .arrow-up { color: var(--light-ink-color); }
    }

    iron-icon {
        color: var(--light-ink-color);

        &.mr-8 { margin-right: 8px; }
        &.b-3 { bottom: 3px; }
    }

    paper-listbox {
        max-height: 296px;

        iron-icon {
            margin-right: 13px;
            color: var(--dark-icon-color);
        }

        paper-item {
            height: 48px;
            min-height: initial;
            font-weight: 500 !important;
            color: var(--dark-primary-text-color);
            cursor: pointer;
            padding: 0 16px;
            white-space: nowrap;
            min-width: 140px;
        }
    }
}

:host([opened]) {
    .arrow-up { display: block; }

    .arrow-down { display: none; }

    iron-icon {
        color: var(--dark-icon-color);
    }

    paper-menu-button {
        color: var(--dark-icon-color);
        background-color: var(--primary-background-color);
    }

    paper-button {
        .dropdown-text { color: var(--dark-primary-text-color); }

        .arrow-down,
        .arrow-up { color: var(--dark-icon-color); }
    }
}

paper-listbox.no-focus {
    --paper-menu-focused-item-after: #{'{
        background: var(--primary-background-color);
        opacity: 0;
    }'};

    paper-item {
        --paper-item-focused-before: #{'{
            background: var(--primary-background-color);
            opacity: 0;
        }'};
    }
    paper-item:hover {
        background: #EEEEEE;
    }
}